

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'CustomFont1';
    src: url('/fonts/SAMAN___.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'CustomFont2';
  src: url('/fonts/Agrandir-GrandHeavy.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



.font-custom-1 {
    font-family: 'CustomFont1', sans-serif;
}

.font-custom-2 {
     font-family: 'CustomFont2', sans-serif;
}


